@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
=======
@font-face {
  font-family: Gotham;
  font-weight: normal;
  src : url(/font/GOTHAM-BLACK_0.OTF) format('truetype')
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Bold.otf') format('opentype'),
       url('/fonts/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

>>>>>>> 06f1533463c125a488ad24c5dcd0930b3243167f
body {
  background: #070707;
}

